<section>
 
   <div  class="grid grid-cols-1  gap-4 lg:grid-cols-1 m-4 lg:grid-rows-2 ">

    <div
    class="lg:row-span-2  ring-1 dark:ring-white/10 ring-primary/5   p-8  "
    >
    <div class="relative flex items-center gap-x-0 justify-between">
         <img src="images/halcan.svg" width="40", height="40" />
<div style="width:26 vw; height:5vh;  border-radius: 40px; background-color:white; color:black; text-align: center; display:flex; align-items: center;" class="text-primary"><marquee><srpong>* Halcan * Copper * Halcan * Consulting * Halcan *</marquee></div>      
         <i class="fa fa-envelope" style="font-size:36px" />
   
       </div>
  </div>

   </div>

   <div class="p-4">

    <div
      class="grid grid-cols-1 gap-4 list-none lg:grid-cols-3 lg:grid-rows-3 xl:grid-cols-4 xl:grid-rows-4"
    >
      <div
        class="lg:row-span-2 ring-1 dark:ring-white/10 ring-primary/5 bg-white dark:bg-secondary shadow-xl dark:shadow-thick rounded-3xl p-8"
      >
        <div class="relative flex items-center gap-x-4">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQrvCAw4eN-2EulPyEZDo_gilVV8HUx-eiqEMW0zEBObfnCO_q0wWvb5lErLwhRcA8lwyI&usqp=CAU"
            alt=""
            class="h-10 w-10 rounded-full ring-1 dark:ring-white/10 ring-primary/5"
          />
          <div class="text-sm leading-6">
            <p class="font-semibold text-primary dark:text-white">
              <a href="#">
                <span class="absolute inset-0"></span>
                New world copper processing
              </a>
            </p>
            <p class="text-zinc-500 dark:text-zinc-400">
              Get Fast Payment on Recovery
            </p>
          </div>
        </div>
        <p
          class="text-3xl mt-6 font-medium lg:text-4xl tracking-tight text-primary dark:text-white"
        >
        <span class="o-typography -h1 -bold"><span class="o-typography -h2 -bold">New world copper processing    </span></span>
        <span class="o-typography -h2 -light -gradient">  Get Fast Payment on Recovery   </span>
        </p>
        <p
          class="mt-4 text-sm text-zinc-500 dark:text-zinc-400 font-light lg:text-xl"
        >
        <span class="o-typography -h2 -bold">To be a leader and<br>inspiring partner</span> <br />
        <h2>In the recovery and conservation of copper</h2>
        <p>As a vital metal within domestic, industrial, and technological applications, copper is linked to collective development and global sustainability. Copper has been a positive force since the dawn of civilization, spanning uses in electrical, medical, and transportation industries in addition to construction, electronics, communications, and machinery.</p>

          <br />
        
          <p>NWCP reprocesses copper from scrap metal recyclers and helps them increase profit margins with unmatched pricing and evaluation tools while providing ways to improve operational efficiency. As innovative and forward thinkers, NWCP focuses on delivering results with continuous research and development initiatives coupled with heavy investment in progressive and modern machinery.</p>
        </p>
        <br/>
        <h3 class="o-typography -h4 -bold c-process_title">Receiving</h3>
        <br />
        <p>A copper shipment is received at an NWCP facility, and the commodity weight is recorded for processing.</p>
        <br/>
        <h3 class="o-typography -h4 -bold c-process_title">Grading</h3>
        <br />
        <p>Within 5 business days, the copper shipment is graded into categories to provide a price per pound (lbs.) with a comprehensive and overall value.</p>
        <br />
        <h3 class="o-typography -h4 -bold c-process_title">Payment</h3><br />
        <p>Direct wire transfer is made upon request to deliver payment based on the received and graded copper.</p>
      </div>






      
      <div
        class="ring-1 dark:ring-white/10 ring-primary/5 rounded-3xl justify-between shadow-xl dark:shadow-thick items-center flex flex-col p-8 h-full bg-white  dark:bg-secondary"
      >
        <div class="w-full">
          <p
            class="text-xl font-normal tracking-tight text-primary dark:text-white lg:text-8xl"
          >
          <p style="text-align:center;">What do we offer?</p>
          </p>
          
        </div>
        


          <p><span style="color:#e87626;"><strong>Product Distribution</strong></span></p>
          
          <p>Aroblit sources products from the world’s leading producers. We distribute products to over 150+ countries by organizing a strategic plan and following through with it.</p>
        
          <strong style="color:#e87626;">Risk Management </strong>
          <p>Our risk management team focuses on reducing the potential risks in our operations, including price risk, credit, product loss, uncertain and operational risks. The goal of our team is to minimize costs for our clients by ensuring effective risk management techniques.</p>

          <strong style="color:#e87626;">Shipping &amp; Logistics </strong>
          <p>Aroblit safely, efficiently and cost-effectively ships products worldwide and offers real-time logistics solutions at a large scale.</p>
          <strong style="color:#e87626;">Business Solutions and Financial Matters</strong>
          <p>Aroblit expert team offers its customers with strategic business solutions along with helping in managing trading financials. Additionally, we offer actionable financial terms.</p>
        </div>
      

        


      <a

      
       
        class="ring-1 lg:row-span-2 flex flex-col justify-between group hover:ring-primary/10 dark:hover:ring-white/20 duration-300 h-full dark:ring-white/10 ring-primary/5 lg:row-start-2 md:grid-cols-2 md:grid lg:gap-0 md:items-center md:gap-12 lg:grid-cols-none lg:col-start-2 lg:col-span-2 rounded-3xl p-8 bg-white dark:bg-secondary shadow-xl dark:shadow-thick"
      >
      <img src="https://www.ganpatiengineering.com/blog/wp-content/uploads/2013/11/blog-img-9.jpg">
      <img src="https://2.imimg.com/data2/KU/IG/MY-2968600/oxygen-free-copper-rod.jpg">
      <img src="https://www.rkmi.co.in/blog/wp-content/uploads/2023/07/The-Benefits-of-Using-Copper-Bars-Rods-in-Construction.png">
      
      <div>
          <p
            class="ext-xl tracking-tight font-medium text-primary dark:text-white md:text-6xl"
          >
          New world copper processing Get Fast Payment on Recovery &  Bridging the Gap Around the Globe
          </p>
          <p class="mt-4 text-sm text-zinc-500 dark:text-zinc-400">
            To be a leader and inspiring partner

            <br />
            <br />
             
            COPPER PRICE LIST
            Real-time copper market prices updated every 15 minutes.
            Get everything you need to make the right decisions for your material.
            COPPER
            MATERIAL TYPE
           
          </p>
          <div class="table w-full ...">
            <div class="table-header-group ...">
              <div class="table-row">
                <div class="table-cell text-left ...">Song</div>
                <div class="table-cell text-left ...">Artist</div>
                <div class="table-cell text-left ...">Year</div>
              </div>
            </div>
            <div class="table-row-group">
              <div class="table-row">
                <div class="table-cell ...">The Sliding Mr. Bones (Next Stop, Pottersville)</div>
                <div class="table-cell ...">Malcolm Lockyer</div>
                <div class="table-cell ...">1961</div>
              </div>
              <div class="table-row">
                <div class="table-cell ...">Witchy Woman</div>
                <div class="table-cell ...">The Eagles</div>
                <div class="table-cell ...">1972</div>
              </div>
              <div class="table-row">
                <div class="table-cell ...">Shining Star</div>
                <div class="table-cell ...">Earth, Wind, and Fire</div>
                <div class="table-cell ...">1975</div>
              </div>
            </div>
          </div>
          ​

          
        </div>




        
      </a>

      <div
        class="ring-1 dark:ring-white/10  ring-primary/5 flex flex-col justify-between items-center rounded-3xl shadow-xl dark:shadow-thick p-8  bg-white dark:bg-secondary overflow-hidden text-center lg:text-left"
      >
        <div>
         <p style="text-align:center;"> <strong   >Why Choose Us?</strong></p>
          
          
          <span style="color:#e87626;">Efficient Services</span>
          <p style="text-align:center;">Providing non-stop and quick product delivery services</p>

          <span style="color:#e87626;">Instant Communication</span>
          <p style="text-align:center;">Ensuring seamless communication among our team and our clients</p>
          <span style="color:#e87626;">Innovation</span>
          <p style="text-align:center;">We always believe in thinking outside the box to add value to our client’s business</p>
          <span style="color:#e87626;">Strong work ethics</span>
          <p style="text-align:center;">Working hard to meet our objectives and regulating strong work ethics</p>
          <span style="color:#e87626;">Reliability</span>
          <p style="text-align:center;">Sourcing products from the most trusted producers</p>
          <span style="color:#e87626;">Worldwide distribution</span>
          <p style="text-align:center;">Offering distribution services around the globe</p>
        </div>





        <div class="w-full mt-8 md:max-w-xs lg:max-w-none">
         
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-download w-4 h-4"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2"></path><path
                d="M7 11l5 5l5 -5"></path><path d="M12 4l0 12"></path></svg
            >
          </button>
        </div>
      </div>
      <a
        href="https://www.figma.com/@mikeandreuzza"
        class="ring-1 lg:row-start-3 items-center h-full flex p-8 flex-col justify-center hover:ring-primary/5 dark:hover:ring-white/20 dark:ring-white/10 ring-primary/5 relative rounded-3xl overflow-hidden bg-white dark:bg-secondary shadow-xl dark:shadow-thick"
      >
      
        
        
        <p
          class="text-xl  text-primary dark:text-white lg:text-2xl mt-6"
        >
        <h2 class="o-typography -h2 -bold o-titlerow_title">Our  Core Values</h2>

        </p>
        <h2 class="o-typography -h2 -bold">Commitment to innovation and efficiency:</h2><br/>
        <div class="c-body -gray">
          Adaptable to new methods and technologies for copper treatment.	</div>
          <h2 class="o-typography -h5 -bold">Transparency supported by education and integrity: </h2>
          <br />
          <div class="c-body -gray">
            Dedication to continuous learning and critical thinking to further industry progress and profitability. 						</div>
            <br />
            <h2 class="o-typography -h5 -bold">Responsibility to build a better, more sustainable world :</h2>
            <br />
            <div class="c-body -gray">
							Ensuring copper can be repurposed for future generations and reducing the detrimental effects of mining.						</div>
              <br />
              <h2 class="o-typography -h5 -bold">Unprecedented<br>customer service and diligence:</h2><br />
              <div class="c-body -gray">
                Candid and attentive towards the recyclers we serve because we care about infinite improvement. 						</div>
                <br/>
                <h2 class="o-typography -h5 -bold">Resourcefulness and creativity to support continual improvement: </h2>
              </br>
              <div class="c-body -gray">
                Creating and launching online tools to help copper recyclers access processed copper returns and value. 						</div>
      </a>
      <a
        href="https://lexingtonthemes.com/"
        class="lg:row-span-2 ring-1 dark:ring-white/10 ring-primary/5 hover:ring-primary/5 bg-white dark:bg-secondary  dark:hover:ring-white/20 overflow-hidden duration-300 shadow-xl dark:shadow-thick rounded-3xl p-8"
      >




        <div class="-mr-2">
          <img 
            src="https://copper-hill-inc.com/wp-content/uploads/2022/05/AdobeStock_1823634-1.jpeg" 
           
          />
        </div>



        
        <div class="mt-8">
          <div class="flex flex-wrap">
            <div
              class="flex items-center text-sm font-medium text-primary dark:text-white"
            >
              <svg
                class="flex-none w-4 h-4 stroke-current"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
                viewBox="0 0 100 100"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M63.3694 5.33018C64.129 6.27325 64.5164 7.54562 65.291 10.0906L82.215 65.6862C75.8581 62.3873 69.0351 60.0773 61.9815 58.836L50.9623 21.5986C50.8744 21.3015 50.6928 21.0408 50.4445 20.8556C50.1962 20.6704 49.8945 20.5705 49.5848 20.571C49.275 20.5715 48.9737 20.6723 48.7259 20.8583C48.4782 21.0443 48.2974 21.3055 48.2105 21.6029L37.3247 58.8172C30.2392 60.0528 23.3848 62.3665 17 65.6778L34.0071 10.0776C34.7842 7.53708 35.1728 6.26679 35.9324 5.32559C36.603 4.49465 37.4753 3.84929 38.466 3.45101C39.5884 3 40.9167 3 43.5734 3H55.7208C58.381 3 59.7111 3 60.8344 3.45205C61.8261 3.85109 62.6988 4.49772 63.3694 5.33018Z"
                  fill="currentColor"></path>
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M65.3945 68.3321C62.6045 70.7178 57.0359 72.3448 50.6215 72.3448C42.7487 72.3448 36.15 69.8938 34.399 66.5975C33.773 68.4867 33.6327 70.6488 33.6327 72.03C33.6327 72.03 33.2203 78.812 37.9374 83.5291C37.9374 81.0797 39.9229 79.0942 42.3722 79.0942C46.5704 79.0942 46.5657 82.7568 46.5619 85.7284L46.5616 85.9936C46.5616 90.5039 49.3182 94.3703 53.2386 96C52.6531 94.7957 52.3246 93.4433 52.3246 92.0141C52.3246 87.7124 54.85 86.1107 57.7851 84.2492C60.1204 82.7681 62.7151 81.1226 64.5033 77.8215C65.4364 76.0991 65.9662 74.1264 65.9662 72.03C65.9662 70.7407 65.7658 69.4982 65.3945 68.3321V68.3321Z"
                  fill="#d94dd1"
                  stroke="#d94dd1"></path>
              </svg>
              <span class="ml-2.5"> Copper</span>
            </div>
            <div
              class="flex items-center ml-6 text-sm font-medium text-primary dark:text-white"
            >
              <svg
                viewBox="0 0 256 154"
                aria-label="Tailwind CSS"
                class="flex-none w-4 h-4 stroke-current"
                width="64"
                height="64"
                astro-icon="logos:tailwindcss-icon"
              >
                <path
                  fill="#38bdf9"
                  d="M128 0C93.867 0 72.533 17.067 64 51.2 76.8 34.133 91.733 27.733 108.8 32c9.737 2.434 16.697 9.499 24.401 17.318C145.751 62.057 160.275 76.8 192 76.8c34.133 0 55.467-17.067 64-51.2-12.8 17.067-27.733 23.467-44.8 19.2-9.737-2.434-16.697-9.499-24.401-17.318C174.249 14.743 159.725 0 128 0zM64 76.8C29.867 76.8 8.533 93.867 0 128c12.8-17.067 27.733-23.467 44.8-19.2 9.737 2.434 16.697 9.499 24.401 17.318C81.751 138.857 96.275 153.6 128 153.6c34.133 0 55.467-17.067 64-51.2-12.8 17.067-27.733 23.467-44.8 19.2-9.737-2.434-16.697-9.499-24.401-17.318C110.249 91.543 95.725 76.8 64 76.8z"
                ></path>
              </svg>
              <span class="ml-2.5"> Copper</span>
            </div>
          </div>
          <p
            class="ext-xl tracking-tight font-medium text-primary dark:text-white md:text-4xl mt-6"
          >
          Bridging the Gap Around the Globe
          </p>
          <p class="mt-4 text-sm text-zinc-500 dark:text-zinc-400 font-light">
          <p  class="ext-xl tracking-tight font-medium text-primary dark:text-white md:text-3xl mt-0"
>
            Who We Are </p>
            <br />
            <br />
            <p style="text-align: justify;">Our motto is speed, reliability, and instant communication. Being a physical commodity trader, we supply products that are sourced from around the globe.
              <br />
              <br />
              Moreover, we strive to deliver great products with exceptional service to our customers through our supply chain, utilizing our transportation team for instant support and solutions. We know great communication is necessary, which is why we make it a priority.
            </p>
            <br />
            <h2> <strong>Our Mission</strong></h2>
            <br/>
            <p>Aroblit is on the mission to provide customers with timely and high-quality products around the globe, so they can flourish more business in their respective markets.</p>
            <h2><strong>Our Vision</strong></h2>
            <br/>
            <p><span>Make the world a better place for the next generation by leading by example. </span>This starts by giving back and providing opportunity to the younger generation through education.</p>
        </div>
      </a>
      <div
        class="ring-1 dark:ring-white/10 ring-primary/5 flex flex-col p-8 h-full justify-center items-center rounded-3xl overflow-hidden relative lg:col-span-2 lg:row-start-4 bg-white dark:bg-secondary shadow-xl dark:shadow-thick"
      >


        <div class="relative p-8 text-center w-full">
          <p
            class="text-xl tracking-tight font-medium text-primary dark:text-white md:text-6xl"
          >
          
          Send us a Message
            <div class="et_pb_column et_pb_column_2_3 et_pb_column_1  et_pb_css_mix_blend_mode_passthrough">
				
				
				
				
              <div class="et_pb_module et_pb_text et_pb_text_2 et_pb_text_align_left et_pb_bg_layout_light et_had_animation" style="">
              
              
              
              
              <div class="et_pb_text_inner"><h2>Send us a Message</h2></div>
            </div>
            <div id="et_pb_contact_form_0" class="et_pb_with_border et_pb_module et_pb_contact_form_0 et_pb_contact_form_container clearfix" data-form_unique_num="0" data-form_unique_id="">
              
              
              
              
              
              <div class="et-pb-contact-message"></div>
              
              <div class="et_pb_contact">
                <form class="et_pb_contact_form clearfix" method="post" action="https://aroblit.com/contact-us/">
                  <p class="et_pb_contact_field et_pb_contact_field_0 et_pb_contact_field_half" data-id="first" data-type="input">
              
              
              
              
              <label for="et_pb_contact_first_0" class="et_pb_contact_form_label">First Name</label>
              <input type="text" id="et_pb_contact_first_0" class="input" value="" name="et_pb_contact_first_0" data-required_mark="required" data-field_type="input" data-original_id="first" placeholder="First Name">
            </p><p class="et_pb_contact_field et_pb_contact_field_1 et_pb_contact_field_half et_pb_contact_field_last" data-id="last" data-type="input">
              
              
              
              
              <label for="et_pb_contact_last_0" class="et_pb_contact_form_label">Last Name</label>
              <input type="text" id="et_pb_contact_last_0" class="input" value="" name="et_pb_contact_last_0" data-required_mark="required" data-field_type="input" data-original_id="last" placeholder="Last Name">
            </p><p class="et_pb_contact_field et_pb_contact_field_2 et_pb_contact_field_half" data-id="company_name" data-type="input">
              
              
              
              
              <label for="et_pb_contact_company_name_0" class="et_pb_contact_form_label">Company name</label>
              <input type="text" id="et_pb_contact_company_name_0" class="input" value="" name="et_pb_contact_company_name_0" data-required_mark="required" data-field_type="input" data-original_id="company_name" placeholder="Company name">
            </p><p class="et_pb_contact_field et_pb_contact_field_3 et_pb_contact_field_half et_pb_contact_field_last" data-id="company_name_2" data-type="input">
              
              
              
              
              <label for="et_pb_contact_company_name_2_0" class="et_pb_contact_form_label">Company Website</label>
              <input type="text" id="et_pb_contact_company_name_2_0" class="input" value="" name="et_pb_contact_company_name_2_0" data-required_mark="required" data-field_type="input" data-original_id="company_name_2" placeholder="Company Website">
            </p><p class="et_pb_contact_field et_pb_contact_field_4 et_pb_contact_field_half" data-id="email" data-type="email">
              
              
              
              
              <label for="et_pb_contact_email_0" class="et_pb_contact_form_label">Email Address</label>
              <input type="text" id="et_pb_contact_email_0" class="input" value="" name="et_pb_contact_email_0" data-required_mark="required" data-field_type="email" data-original_id="email" placeholder="Email Address">
            </p><p class="et_pb_contact_field et_pb_contact_field_5 et_pb_contact_field_half et_pb_contact_field_last" data-id="phone" data-type="email">
              
              
              
              
              <label for="et_pb_contact_phone_0" class="et_pb_contact_form_label">Phone Number</label>
              <input type="text" id="et_pb_contact_phone_0" class="input" value="" name="et_pb_contact_phone_0" data-required_mark="required" data-field_type="email" data-original_id="phone" placeholder="Phone Number">
            </p><p class="et_pb_contact_field et_pb_contact_field_6 et_pb_contact_field_last" data-id="message" data-type="text">
              
              
              
              
              <label for="et_pb_contact_message_0" class="et_pb_contact_form_label">Message</label>
              <textarea name="et_pb_contact_message_0" id="et_pb_contact_message_0" class="et_pb_contact_message input" data-required_mark="required" data-field_type="text" data-original_id="message" placeholder="Message"></textarea>
            </p>
                  <input type="hidden" value="et_contact_proccess" name="et_pb_contactform_submit_0">
                  <div class="et_contact_bottom_container">
                    
                    <button type="submit" name="et_builder_submit_button" class="et_pb_contact_submit et_pb_button">Send Message</button>
                  </div>
                  <input type="hidden" id="_wpnonce-et-pb-contact-form-submitted-0" name="_wpnonce-et-pb-contact-form-submitted-0" value="da8b8ce53c"><input type="hidden" name="_wp_http_referer" value="/contact-us/">
                </form>
              </div>
            </div>
            
            </div>
          </p>
          <!-- <form class="mt-6 sm:flex w-full lg:max-w-sm mx-auto">
            <label for="email-address" class="sr-only">Email address</label>
            <input
              type="email"
              name="email-address"
              id="email-address"
              autocomplete="email"
              required=""
              class="block w-full h-12 px-4 py-2 text-sm text-zinc-500 bg-zinc-100 dark:bg-tertiary ring-1 dark:ring-white/10 ring-primary/5 rounded-lg appearance-none focus:ring-white/20 placeholder-zinc-400 focus:border-zinc-300 focus:bg-primary focus:outline-none focus:ring-indigo-500 sm:text-sm"
              placeholder="Enter your email"
            />
            <div class="mt-4 sm:ml-2 sm:mt-0 sm:flex-shrink-0">
              <button
                type="submit"
                class="text-sm py-2 w-full px-4 h-12 font-semibold focus:ring-2 rounded-lg bg-primary dark:bg-white dark:text-primary dark:hover:text-white hover:text-primary dark:hover:bg-white/5 hover:bg-primary/10 text-white flex duration-200 focus:ring-offset-2 focus:ring-inline-flex items-center justify-between"
                >Subscribe</button
              >
            </div>
          </form> -->
        </div>
      </div>
      <div
        class="ring-1 dark:ring-white/10 ring-primary/5 shadow-xl dark:shadow-thick rounded-3xl p-8 lg:row-start-4 h-full flex flex-col justify-between bg-white dark:bg-secondary"
      >
        <p
          class="text-xl tracking-tight font-medium text-primary dark:text-white md:text-5xl"
        >
          Testimonials
        </p>
        <div class="md:grid md:grid-cols-2 gap-6 lg:grid-cols-1">
          <div class="mt-4">
            <p class="text-sm text-pink-500 dark:text-pink-400">
              "Big fan of your themes. They're well-organized, look clean, and
              are fast."
            </p>
            <p class="text-xs mt-2 text-zinc-500">
              <span class="block text-xs">Kevin Focke</span>
              <span class="block text-xs"> Developer</span>
            </p>
          </div>
          <div class="mt-4">
            <p class="text-sm text-orange-500 dark:text-orange-300">
              "Amazing resource using @astrodotbuild and @tailwindcss! I got it
              a week ago and have found the contents really useful. 5/5
            </p>
            <p class="text-xs mt-2 text-zinc-500">
              <span class="block text-xs">Alonso</span>
              <span class="block text-xs"> Entrepreneur</span>
            </p>
          </div>
        </div>
      </div>
      <div
        class="lg:col-span-2 xl:col-span-1 h-full flex flex-col justify-between lg:row-span-2 ring-1 dark:ring-white/10 ring-primary/5 bg-white dark:bg-secondary shadow-xl dark:shadow-thick rounded-3xl p-8"
      >
        <p
          class="text-xl tracking-tight font-medium text-primary dark:text-white md:text-3xl"
        >
         about:
         
          
          <div class="o-layout_item u-1/3  u-1/2@laptop u-1/1@mobile">
						<p class="c-footer_title -margin">Navigation</p>
						<div class="c-footer_menu"><ul id="menu-menu-1" class="menu"><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-367"><a href="https://www.nw-cp.com/">Home</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-353 current_page_item menu-item-368"><a href="https://www.nw-cp.com/about-us" aria-current="page">About us</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-370"><a href="https://www.nw-cp.com/process">Process</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-679"><a href="https://www.nw-cp.com/price-list">Price list</a></li>
<li class="-gradient menu-item menu-item-type-post_type menu-item-object-page menu-item-369"><a href="https://www.nw-cp.com/contact">Get in touch</a></li>
</ul></div>					</div>
<div class="o-layout_item u-1/3  u-1/2@laptop u-1/1@mobile">
						<p class="c-footer_title -margin">Information</p>

						<ul class="c-footer_infos">
							<li class="c-footer_info">
																	<a href="https://goo.gl/maps/npEVhM1bJSoG4QXU8" target="_blank">
																		11775 Rue Service A3<br>
Mirabel, QC, CANADA J7N 1E6																		</a>
															</li>

							<li class="c-footer_info">
																	<a href="https://maps.app.goo.gl/kFQYqMNv5ggMphqK9" target="_blank">
																		NWCP NEVADA<br>
3824 N 5th Street, Unit D<br>
North Las Vegas, NV, USA 89032																		</a>
															</li>

							<li class="c-footer_info">
								<a href="tel:+14502321030">1-450-232-1030</a><br>
								<a href="tel:+18665005254">1-866-500-5254</a>
							</li>
							<li class="c-footer_info">
								<a href="mailto:info@nw-cp.com">info@nw-cp.com</a>
							</li>
						</ul>

						
						<div class="c-footer_info">
							<a href="/terms-and-conditions">Terms and conditions</a>
						</div>

						<div class="c-footer_info">
							<a href="/privacy-policy">Privacy policy</a>
						</div>
					</div>
        </p>
        <p class="text-primary dark:text-white mt-4">Michael Andreuzza</p>
      </div>
    </div>
  </div>
</section>
